html {
  font-size: 62.5%;
  font-family:'Segoe UI', "Roboto",'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

*,*:before, *:after {
  box-sizing: inherit;
}

body {
  background:#D9CAB3;
  font-size:2rem;
  min-height: 75vh;
  display: grid;
  align-items: start;
  justify-items: center;
  margin:0;
  text-transform: capitalize;
  font-family: 'Cinzel', 'serif'
}


button {
  color: white;
  padding: 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}
input#item {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  padding:10px;
}

.shopping {
  display: grid;
  grid-template-columns: 1fr auto;
}

.shopping-list {
  background:#F6F6F6;
  padding: 2rem;
  border-radius: 1rem;
  width: 500px;
  margin: 3rem 0;
}

.shopping-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shopping-item {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  border-bottom: 1px solid gray;
}

.shopping-item input[type="checkbox"] {
  margin-right: 1rem;
}

.shopping-item input[type="checkbox"]:checked + .itemName {
  opacity: 0.5;
  text-decoration: line-through;
}

li, .add-button {
  font-family: 'Fauna One', 'serif';
}
.add-button {
  background: #6D9886;
}

.shopping-item button {
  background: #D9534F;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.shopping-item button:hover {
  transform: scale(1.4);
}

@media only screen and (max-width: 600px) {
  body {
    font-size:1.5rem;
  }
  .shopping {
    grid-template-columns: auto;
  }
  .shopping-list {
    width:95vw;
  }

}
